.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 20px;
}

.mat-card {
    width: 320px;
    border: 2px solid #000;
    border-radius: 15px;
    overflow: hidden;
    padding: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    background: #fff;
}

.mat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mat-header span {
    font-weight: 700;
}
.mat-card .avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.estado {
    padding: 6px 12px;
    border-radius: 14px;
}

.estado.matriculado {
    background: #bcdcff;
}
.estado.retirado {
    background: #fd8e8e;
}
.matricula-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 20px;
    width: 100%;
    font-family: "Kumbh Sans", sans-serif;
}

/* Labels */
.matricula-form label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 6px;
}

/* Grupos en columnas */
.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Filas de inputs */
.form-row {
    display: flex;
    gap: 25px;
}

/* Inputs generales */
/* Inputs generales */
.matricula-form input,
.matricula-form select {
    /*width: 100%;*/
    padding: 20px 10px 20px 10px;
    border-radius: 18px;
    border: 2px solid #dcdcdc;
    outline: none;
    font-size: 1em;
    transition: all 0.2s ease;
}

/* Hover + Focus */
.matricula-form input:focus,
.matricula-form select:focus {
    border-color: #000;
}

.btn-editar {
    background: #000000;
    border-radius: 20px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: relative;
    color: #ffffff;
    font-size: 18px;
}
.btn-crear {
    background: #000000;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
}
.btn-submit {
    width: 100%;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: relative;
    font-size: 18px;
}

.matricula-form-editar {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 20px;
    width: 100%;
    font-family: "Kumbh Sans", sans-serif;
}

/* Labels */
.matricula-form-editar label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 6px;
}

/* Inputs generales */
.matricula-form-editar input,
.matricula-form-editar select {
    /*width: 100%;*/
    padding: 20px 10px 20px 10px;
    border-radius: 18px;
    border: 2px solid #dcdcdc;
    outline: none;
    font-size: 1em;
    transition: all 0.2s ease;
}

/* Hover + Focus */
.matricula-form-editar input:focus,
.matricula-form-editar select:focus {
    border-color: #000;
}

/* botones */
.btn-editar {
    margin-top: 12px;
    width: 100%;
    background: #000;
    color: #fff;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* adapta responsividad */
@media (max-width: 900px) {
    .cards-container {
        justify-content: center;
    }
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.modal-content {
    width: 550px;
    background: white;
    padding: 35px;
    border-radius: 25px;
    position: relative;
}

.close {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    font-size: 2rem;
}

.btn-submit {
    width: 100%;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: relative;
    font-size: 18px;
}
